/* Navbar CSS */
nav {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  background-color: #f8f9fa;
  border-right: 1px solid #e7e7e7;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px; 
  z-index: 1000;
  box-sizing: border-box; 
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%; 
}

/* Reset the padding for li and ensure text is centered */
nav ul li {
  padding: 0;
  margin: 0;
  width: 100%; 
}

/* Ensure text in a is centered and has full width */
nav ul li a {
  padding: 8px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #333;
  display: block;
  text-align: center; 
  width: 100%; 
}

/* Add Effect when button is hovered */
nav ul li a:hover {
  color: #f1f1f1;
  background-color: #555;
}

/* Ensure that all elements within nav have no margin or padding */
nav, nav * {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* This ensures that padding does not add to the width */
}

/* Ensure the image is centered */
.profile-image {
  display: block; 
  margin: 0 auto 20px;
  width: 200px; 
  height: 200px;
  border-radius: 50%; 
}
/* End of Navbar CSS */

/* About Section CSS */
#about {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start; 
  height: 100vh; 
  text-align: left; 
  padding-left: 40px; 
  box-sizing: border-box; 
}

#about h1 {
  font-size: 4.5em; 
  margin: 0; 
  line-height: 1; 
}

#about h3 {
  font-size: 2em; 
  margin-top: 0.2em; 
  margin-bottom: 1em; 
}

#about p {
  font-size: 1em; 
  margin-top: 0; 
  margin-bottom: 20px; 
}

.icons {
  display: flex; 
  justify-content: start; 
  gap: 1.5rem; 
}

.icons a {
  color: inherit;
  text-decoration: none; 
  transition: color 0.2s;
}

.icons a:hover {
  color: gray
}

.icons i {
  font-size: 2.5rem; 
  vertical-align: middle; 
}

/* End of About Section CSS */

/* Projects Section CSS */
.projects-header {
  font-size: 2.5em; 
  padding-bottom: 0;
}

.project:last-of-type {
  padding-bottom: 30em; 
}

.project h3 {
  font-size: 1.5em;
  margin-bottom: 0em; 
}

.project h4 {
  font-size: 1em; 
  color: #666;
  margin-top: 0em;
  margin-bottom: 0.5em; 
}

.project h5 {
  font-size: 1em; 
  color: #666;
  margin-top: 0em; 
}

.project p {
  font-size: 1em;
  margin-bottom: 20px;
}

.icon {
  display: inline-block;
  background-color: transparent;
  color: #007bff;
  font-size: 2.5rem; 
  margin-top: 10px;
  margin-right: 10px;
}

.icon:hover {
  color: #0056b3;
}

/* End of Projects Section CSS */

/* Education Section */ 
#education ul {
  list-style-type: none;
  padding: 0;
}

#education li {
  margin-bottom: 20px;
}

#education li:first-of-type {
  padding-bottom: 1.5em; 
}

#education li:last-of-type {
  padding-bottom: 30em; 
}

.degree {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#education h2 {
  font-size: 2.5em;
}

#education h3 {
  margin: 0;
}

#education h4 {
  font-weight: normal;
  margin-top: 5px;
  
}

#education .date {
  font-style: italic;
}

#education p {
  margin: .25em;
}

/* End of Education Section */ 

/* Experience Section */
#experience .experience-item {
  margin-bottom: 3em;
}

#experience .experience-item:last-of-type {
  padding-bottom: 30em; 
}

.title-date-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#experience h2 {
  font-size: 2.5em;
}

#experience h3 {
  margin: 0;
}

#experience h4 {
  font-weight: normal;
  margin-top: 5px;
}

#experience .date {
  font-style: italic;
}

#experience ul {
  list-style-type: disc;
  padding: 0;
  margin-top: 5px;
}

#experience li {
  margin-bottom: 0.75em;
}

/* End of Experience Section */

/* Skills Section */
#skills h2 {
  font-size: 2.5em;
}

#skills h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.skills-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.skills-list li {
  margin-right: 15px; 
  margin-bottom: 10px;
}

#skills .skills-list:last-of-type {
  padding-bottom: 30em; 
}

/* End of Skills Section */



  
/* Adjust the body content padding/margin to avoid being hidden by the navbar */
body {
  margin-left: 270px; 
  padding: 20px;
  font-family: 'Heebo', sans-serif;
  background: rgb(234,239,243);
  background: linear-gradient(180deg, rgba(234,239,255,1) 0%, rgba(255,255,255,1) 50%, rgba(234,239,243,1) 100%);;
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  nav {
      display: none;
  }
  body {
    margin-left: 0; 
    padding: 25px;
}
}
