<!-- About Page -->

<h1>Jonathan Hirsch</h1>
<h3>Computer Science Student</h3>
<p>
  I'm a current computer science student who loves to explore new ideas and solve interesting problems.
</p>
<div class="icons">
  <a href="https://www.linkedin.com/in/jonathan-hirsch3/"><i class="fab fa-linkedin"></i></a>
  <a href="https://github.com/Jon-H03"><i class="fab fa-github"></i></a>
  <a href="mailto:jonathan.hirsch2011@gmail.com"><i class="fas fa-envelope"></i></a>
</div>




