<h2>Certifications</h2>
<ul>
  <li>
    <div class="degree">
      <h3>Amazon Web Services Solutions Architect - Associate</h3>
      <span class="date">October 2024</span>
    </div>
    <br>
    <div class="degree">
      <h3>Amazon Web Services Cloud Practitioner</h3>
      <span class="date">July 2024</span>
    </div>
  </li>
</ul>