<!-- Education -->

<h2>Education</h2>
<ul>
  <li>
    <div class="degree">
      <h3>Bachelor of Science in Computer Science</h3>
      <span class="date">Expected December 2024</span>
    </div>
    <h4>Oregon State University</h4>
    <p>GPA: 3.9</p>
    <p>Relevant coursework: Analysis of Algorithms, Data Structures, Web Development, Databases, Computer Architecture and Assembly Language, Programming Language Fundamentals, Intro to Computer Networking</p>
  </li>
  <li>
    <div class="degree">
      <h3>Bachelor of Arts in Business Management Economics</h3>
      <span class="date">September 2018 - August 2020</span>
    </div>
    <h4>University of California, Santa Cruz</h4>
  </li>
</ul>
