<!-- Experience -->

<h2>Experience</h2>
<div id="experience">
  <div class="experience-item">
    <div class="title-date-container">
      <h3>Incoming Business Technology Intern</h3>
      <span class="date">June 2024 - August 2024</span>
    </div>
    <h4>Discover Financial Services</h4>
    <ul>
      <li>
        Working with Public Cloud Management and Infrastructure
      </li>
    </ul>
  </div>


  <div class="experience-item">
      <div class="title-date-container">
        <h3>Software Engineer Intern (Operations Engineering)</h3>
        <span class="date">Jan 2024 - April 2024</span>
      </div>
      <h4>SiriusXM</h4>
      <ul>
        <li>
          Designed and implemented a robust full-stack TypeScript/Node.js web application prototype that optimized the
          processes of account creation, updates, and data retrieval, ultimately allowing teams greater ease of use in testing,
          creation, and management.
        </li>
        <li>
          Spearheaded the adaptation and enhancement of the prototype’s backend into a production-ready API,
          incorporating extensive error-handling and type safety mechanisms leveraging TypeScript. This resulted in
          improved application scalability, reliability, and performance through seamless frontend-backend integration.
        </li>
        <li>
          Engineered a data consolidation tool that automates the extraction and aggregation of account details from emails
          via API, streamlining account management and enhancing data accuracy for strategic analysis and tracking.
        </li>
      </ul>
  </div>

  <div class="experience-item">
    <div class="title-date-container">
      <h3>Junior Staff Accountant (Intern)</h3>
      <span class="date">June 2022 - September 2022</span>
    </div>
    <h4>Hyder Porperty and Co.</h4>
    <ul>
      <li>Conducted precise bank account reconciliations and comprehensive cash flow reviews for diverse properties,
ensuring financial records accuracy.</li>
      <li>Analyzed and reviewed general ledgers, making necessary adjustments to maintain the integrity of financial data.</li>
      <li>Assisted in the meticulous preparation of financial statements, including income statements, balance sheets, and cash flow statements, guaranteeing their accuracy and alignment with regulatory standards.</li>
    </ul>
  </div>

  <div class="experience-item">
    <div class="title-date-container">
      <h3>Viticulture Intern</h3>
      <span class="date">April 2021 - Octoboer 2021</span>
    </div>
    <h4>Advanced Viticulture</h4>
    <ul>
      <li>Managed the collection and organization of extensive vineyard data, handling a significant dataset with efficiency.</li>
      <li>Leveraged data analysis techniques and visualized findings in spreadsheets to facilitate informed care
recommendations for grapevines, optimizing vineyard management strategies.</li>
      <li>Collaborated closely with viticulturists and other team members to analyze collected data and provide valuable insights, contributing to the development of effective strategies for vineyard water management, nutrient management, and pest control.</li>
      <li>Assisted in the installation, calibration, and maintenance of field measurement equipment, such as weather stations and soil moisture measurement devices, ensuring the availability of accurate data for vineyard management decisions.</li>
      <li>Utilized sugar sampling techniques to precisely assess grape ripeness to make informed and strategic harvest decisions. This process contributed to optimizing grape yield control and harvest timing, ultimately enhancing the quality of the grapes for winemaking.</li>
    </ul>
  </div>

  <div class="experience-item">
    <div class="title-date-container">
      <h3>Tech Ethics Review Board Intern</h3>
      <span class="date">June 2020 - August 2020</span>
    </div>
    <h4>Center of Applied Values and Ethics in Advancing Technologies</h4>
    <ul>
      <li>Conducted in-depth research and analysis on the social and ethical implications of emerging technologies,
contributing to the development of ethical frameworks.</li>
      <li>Collaborated closely with a diverse team to discuss and refine ethical considerations in technology development.</li>
      <li>Delivered a presentation to an audience, effectively communicating the research findings on the ethical implications of emerging technologies and articulating the critical need for ethical awareness and alignment in the tech industry. These presentations fostered a deeper understanding of tech ethics and garnered support for ethical initiatives.</li>
    </ul>
  </div>
</div>

