<header>
  <nav>
    <%= image_tag('StandardPFP_FloralBG.png', alt: 'Jon-PFP', class: 'profile-image') %>
    <ul>
      <li><a href="#about">About</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#resume">Education</a></li>
      <li><a href="#resume">Experience</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>